@charset "utf-8";
@import "reset.css";

:root {
    --main-color: #98B9CD;
    --txt-color: #333;
    --border-color: #C4C4C4;
    --sub-border-color: #E0E0E0;
    --bg-color: #FFF;
    --emphasis-txt-color: #828282;
    --sub-txt-color: #828282;
    --btn-border: #BDBDBD;
}

div, span, article, section, header, main, footer, p, ul, li, label, a, nav, h1, h2, h3, form, input, button, img, textarea, table, thead, tbody, tr, th, td {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body, button {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    font-weight: 400;
    color: var(--txt-color);
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

table, thead, tbody, tr {
    display: block;
}

.ir {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sl_ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi_ellipsis {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
}

.main_header {
    position: fixed;
    width: 100%;
    padding: 10px 80px;
    background-color: var(--bg-color);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    width: 98px;
    height: 54px;
    background-image: url(../assets/Logo-Co.svg);
}

.search_box {
    padding: 9px 26px;
    border: 2px solid var(--main-color);
    border-radius: 50px;
}

.search_form {
    display: flex;
}

.search {
    border: 0;
    padding-right: 233px;
    vertical-align: baseline;
    font-size: 16px;
}

.search:focus {
    outline: none;
}

.search_icon {
    width: 28px;
    height: 28px;
    background-image: url(../assets/search.svg);
    background-color: transparent;
}

.icons_wrapper {
    display: flex;
    gap: 26px;
}

.cart_icon, .login_icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-color: transparent;
}

.cart_icon {
    background-image: url(../assets/icon-shopping-cart.svg);
    margin-left: 3px;
}

.login_icon {
    background-image: url(../assets/icon-user.svg);
}

.cart_icon_txt, .login_icon_txt {
    font-size: 12px;
}

.banner_container {
    width: 100%;
    height: 500px;
    background-color: #C4C4C4;
}

main {
    padding: 80px 0;
}

.product_container {
    margin: 0 30px;
}

.product_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px ;
}

.product_item {
    display: block;
    width: 270px;
    margin: 0 auto;
}

.product_img img {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
}

.product_info {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.product_store {
    font-size: 14px;
    color: #767676;
}

.product_name {
    display: block;
    margin-top: 8px;
    line-height: 22px;
}

.price_container {
    text-align: right;
}

.price_container span {
    padding-left: 5px;
}

.product_price {
    font-size: 24px;
    font-weight: 700;
}
