@charset "utf-8";
@import './reset.css';
@import './font.css';

:root {
    --main-color: #98B9CD;
    --accent-color: #586C9D;
    --txt-color: #333;
    --border-color: #C4C4C4;
    --sub-border-color: #E0E0E0;
    --bg-color: #FFF;
    --emphasis-txt-color: #828282;
    --sub-txt-color: #767676;
    --btn-border: #BDBDBD;
}

div, span, article, section, header, main, footer, p, ul, li, label, a, nav, h1, h2, h3, form, input, button, img, textarea, table, thead, tbody, tr, th, td {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body, input, button {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    font-weight: 400;
    color: var(--txt-color);
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

table, thead, tbody, tr {
    display: block;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.ir {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.sl_ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi_ellipsis {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

.main_header {
    position: fixed;
    width: 100%;
    padding: 10px 80px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    width: 98px;
    height: 54px;
    background-image: url(../assets/Logo-Co.svg);
}

.search_box {
    padding: 9px 26px;
    border: 2px solid var(--main-color);
    border-radius: 50px;
}

.search_form {
    display: flex;
}

.search {
    border: 0;
    padding-right: 233px;
    vertical-align: baseline;
    font-size: 16px;
}

.search:focus {
    outline: none;
}

.search_icon {
    width: 28px;
    height: 28px;
    background-image: url(../assets/search.svg);
    background-color: transparent;
}

.icons_container {
    display: flex;
    gap: 26px;
}

.cart_icon, .login_icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-color: transparent;
}

.cart_icon {
    background-image: url(../assets/icon-shopping-cart.svg);
    margin-left: 3px;
}

.login_icon {
    background-image: url(../assets/icon-user.svg);
}

.cart_icon_txt, .login_icon_txt {
    font-size: 12px;
    color: var(--accent-color);
}

.banner_container {
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    background-color: #C4C4C4;
}

main {
    padding: 80px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.product_container {
    padding-top: 74px;
}

.product_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px ;
}

.product_item {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.product_img img {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;
}

.product_info {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.product_store {
    font-size: 14px;
    color: #767676;
}

.product_name {
    display: block;
    margin-top: 8px;
    line-height: 22px;
}

.price_container {
    text-align: right;
}

.price_container span {
    padding-left: 5px;
}

.product_price {
    font-size: 24px;
    font-weight: 700;
}

.login_container, .sign_up_container {
    padding: 165px 0;
    text-align: center;
}

.login_tit, .sign_up_tit {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-color);
}

.login_form, .sign_up_form {
    width: 550px;
    margin: 73px auto;
    padding: 0 35px;
}

.login_type, .sign_up_type {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: var(--main-color);
    gap: 186px;
}

.login_buyer, .login_seller, .sign_up_buyer, .sign_up_seller {
    padding-bottom: 17px;
    cursor: pointer;
}

.active {
    font-weight: 800;
    color: var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    cursor: default;
}

.input_li {
    text-align: left;
}

.login {
    margin: 40px 0;
}

.input_li input {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.login_input {
    padding: 20px 0;
}

.login_input:last-child {
    margin-top: 6px;
}

.sign_up_input {
    padding: 18px 0;
    margin-top: 10px;
}

.account_input_fieldset {
    margin-top: 69px;
}

.account_input , .user_input, .seller_input {
    margin-top: 16px;
}

.account_input input {
    margin-top: 10px;
}

.account_label, .user_label, .seller_label {
    color: var(--sub-txt-color);
}

.id_input_btn_container, .seller_input_btn_container {
    display: inline-block;
}

.status_msg {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #EB5757;
}

#account_id {
    width: 346px;
    margin-right: 11px;
}

#crn {
    width: 346px;
    margin-right: 12px;
}

.small_btn {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 60px;
    background-color: var(--main-color);
}

.check_id_btn {
    padding: 17px 32px;
}

.check_crn_btn {
    padding: 17px 46px;
}

.seller_input_fieldset {
    display: none;
}

.seller_active {
    display: block;
}

.big_btn {
    background-color: var(--border-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 200px;
}

.login_btn {
    padding: 19px 215px;
}

.sign_up_btn {
    padding: 19px 206px;
}

.on {
    background-color: var(--main-color);
}

.link_container {
    text-align: center;
    margin-top: 40px;
    color: var(--txt-color);
}

.sign_up_link, .find_pw_link {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: var(--sub-txt-color);
}

.sign_up_link {
    margin-right: 14px;
}

.find_pw_link::before {
    display: block;
    float: left;
    width: 1px;
    height: 14px;
    margin-right: 15px;
    left: 0;
    background-color: var(--sub-txt-color);
    content: '';
    cursor: default;
}

.form_check_container {
    display: flex;
    margin: 70px 0 36px;
}

.form_check_container input[type="checkbox"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.agreement {
    color: var(--sub-txt-color);
    cursor: pointer;
}

.agreement .txt {
    font-weight: 800;
    border-bottom: 1px solid var(--sub-txt-color);
}

.agreement a {
    display: inline-block;
}

.form_check_container input[type="checkbox"] + label::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: bottom;
    background-image: url(../assets/check-box-empty.svg);
    background-size: 16px 16px;
}

.form_check_container input[type="checkbox"]:checked + label::before {
    background-image: url(../assets/check-box-Fill.svg);
}

.main_footer {
    padding: 54px 0;
    background-color: #F2F2F2;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}

.footer_link_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--border-color);
}

.footer_link_li, .footer_icon_li {
    display: inline;
}

.footer_link, .footer_link a {
    display: inline;
}

.footer_link:nth-child(-n+4) {
    margin-right: 14px;
}

.footer_link:nth-child(5) {
    margin-right: 15px;
}

.footer_link:nth-child(n+2)::before {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin-right: 14px;
    left: 0;
    vertical-align: bottom;
    background-color: var(--sub-txt-color);
    content: '';
    cursor: default;
}

.footer_icon_li {
    display: flex;
    gap: 14px;
}

.footer_icon_li li a {
    width: 32px;
    height: 32px;
}

.instagram {
    background-image: url(../assets/icon-insta.svg);
}

.facebook {
    background-image: url(../assets/icon-fb.svg);
}

.youtube {
    background-image: url(../assets/icon-yt.svg);
}

.footer_info_container {
    margin: 30px 0 9px;
}

.footer_corp_info {
    display: inline-block;
    text-align: left;
    color: var(--sub-txt-color);
    line-height: 24px;
}

.footer_corp_info dt {
    font-weight: 700;
}

.footer_corp_info dd:nth-child(n+3):nth-child(-n+4) {
    display: inline;
}

.footer_corp_info dd:nth-child(3) {
    margin-right: 6px;
}

.footer_corp_info dd:nth-child(4)::before {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin-right: 6px;
    left: 0;
    vertical-align: middle;
    background-color: var(--sub-txt-color);
    content: '';
}

.product_detail_container {
    padding-top: 0;
}

.product_detail_card {
    padding: 80px 0;
    width: 100%;
    display: flex;
    gap: 50px;
}

.product_detail_img img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.product_detail_store, .product_detail_name {
    display: block;
}

.product_detail_store {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
    color: var(--sub-txt-color);
}

.product_detail_name {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
    color: var(--txt-color);
}

.price_detail_container {
    margin-bottom: 138px;
}

.product_detail_price {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: var(--txt-color);
}

.product_detail_price span{
    font-size: 18px;
    font-weight: 400;
}

.shipping_container {
    padding-bottom: 20px;
    color: var(--sub-txt-color);
    border-bottom: 2px solid var(--border-color);
}

.count_btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0;
    width: 150px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}

.m_btn, .p_btn {
    font-size: 36px;
    background-color: #FFF;
    color: var(--border-color);
    cursor: pointer;
}

.count {
    display: inline;
    padding: 14px;
    font-size: 18px;
    color: var(--txt-color);
    border-width: 0 1px 0;
    border-style: solid;
    border-color: var(--border-color);
    text-align: center;
}

.total_container {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    border-top: 2px solid var(--border-color);
    align-items: baseline;

}

.total_txt {
    font-size: 18px;
    font-weight: 500;
}

.total_count {
    margin-right: 11px;
    font-size: 18px;
    color: var(--sub-txt-color);
}

.total_count strong{
    font-weight: 700;
    color: var(--accent-color);
}

.total_price_container {
    display: inline;
    color: var(--accent-color);
}

.total_price_container::before {
    display: inline-block;
    margin-right: 11px;
    content: '|';
    color: var(--border-color);
}

.total_price {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    vertical-align: baseline;
}

.total_price_container span {
    margin-left: 2px;
    font-size: 18px;
}

.buy_btn {
    padding: 19px 141px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--main-color);
    color: #FFF;
    border-radius: 5px;
}

.cart_btn {
    padding: 19px 60px;
    margin-left: 14px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--sub-txt-color);
    color: #FFF;
    border-radius: 5px;
}

.product_tab_container {
    padding: 60px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.detail_tab_li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.detail_tab_btn {
    padding: 19px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--sub-txt-color);
    border-bottom: 6px solid var(--sub-border-color);
}

.tab_on {
    font-weight: 700;
    color: var(--main-color);
    border-bottom: 6px solid var(--main-color);
}