@charset "utf-8";
@import './reset.css';
@import './font.css';

:root {
    --main-color: #98B9CD;
    --accent-color: #586C9D;
    --txt-color: #333;
    --border-color: #C4C4C4;
    --sub-border-color: #E0E0E0;
    --bg-color: #FFF;
    --emphasis-txt-color: #828282;
    --sub-txt-color: #767676;
    --btn-border: #BDBDBD;
}

div, span, article, section, header, main, footer, p, ul, li, label, a, nav, h1, h2, h3, form, input, button, img, textarea, table, thead, tbody, tr, th, td {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body, input, button {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    font-weight: 400;
    color: var(--txt-color);
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

table, thead, tbody, tfoot, tfoot tr {
    display: block;
    width: 100%;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ir {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.sl_ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi_ellipsis {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.main_header {
    position: fixed;
    width: 100%;
    padding: 10px 80px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    width: 98px;
    height: 54px;
    background-image: url(../assets/Logo-Co.svg);
}

.search_box {
    padding: 9px 26px;
    border: 2px solid var(--main-color);
    border-radius: 50px;
}

.search_form {
    display: flex;
}

.search {
    border: 0;
    padding-right: 233px;
    vertical-align: baseline;
    font-size: 16px;
}

.search:focus {
    outline: none;
}

.search_icon {
    width: 28px;
    height: 28px;
    background-image: url(../assets/search.svg);
    background-color: transparent;
    cursor: pointer;
}

.icons_container {
    display: flex;
    gap: 26px;
}

.cart_icon_btn, .login_icon_btn {
    cursor: pointer;
}

.cart_icon, .login_icon, .center_icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-color: transparent;
}

.cart_icon {
    background-image: url(../assets/icon-shopping-cart.svg);
    margin-left: 3px;
}

.center_icon {
    background-image: url(../assets/icon-shopping-bag.svg);
    margin-left: 12px;
}

.login_icon {
    background-image: url(../assets/icon-user.svg);
}

.cart_icon_txt, .login_icon_txt, .center_icon_txt {
    font-size: 12px;
    color: var(--accent-color);
}

.banner_container {
    padding-top: 74px;
    height: 574px;
    background-position: center;
    overflow: hidden;
}

.banner_img {
    display: flex;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.banner_img div {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 1920px 574px;
    background-repeat: no-repeat;
    width: 1920px;
}

.banner_img_1 {
    background-image: url(../assets/banner-1.svg);
}

.banner_img_2 {
    background-image: url(../assets/banner-2.svg);
}

.banner_img_3 {
    background-image: url(../assets/banner-3.svg);
}

.slide_left {
    position: absolute;
    left: 30px;
    top: 287px;
    background-image: url(../assets/icon-left.svg);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.slide_right {
    position: absolute;
    right: 30px;
    top: 287px;
    background-image: url(../assets/icon-right.svg);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

main {
    padding: 80px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.pagination_nav {
    margin-top: 70px;
}

.pagination_ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination_prev_btn {
    background-image: url(../assets/arrow-left.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.left_disabled {
    background-image: url(../assets/arrow-left-disabled.svg);
    cursor: default;
}

.pagination_next_btn {
    background-image: url(../assets/arrow-right.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.right_disabled {
    background-image: url(../assets/arrow-right-disabled.svg);
    cursor: default;
}

.pagination_ul li button {
    padding: 5px 10px;
    font-size: 18px;
    /* color: var(--txt-color); */
    cursor: pointer;
}

.pagination_ul li button:hover, .btn_on {
    color: var(--main-color);
}

.product_container {
    padding-top: 74px;
}

.product_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px ;
}

.product_item {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.product_img img {
    width: 100%;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;
}

.product_info {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.product_store {
    font-size: 14px;
    color: var(--sub-txt-color);
}

.product_name {
    display: block;
    margin-top: 8px;
    line-height: 22px;
}

.price_container {
    text-align: right;
}

.price_container span {
    padding-left: 5px;
}

.product_price {
    font-size: 24px;
    font-weight: 700;
}

.sold_out_name {
    color: rgba(118, 118, 118, .5);
}

.sold_out {
    color: #EB5757;
}

.login_container, .sign_up_container, .cart_container, .order_container, .seller_center_container, .upload_container {
    padding: 165px 0;
    text-align: center;
}

.login_tit, .sign_up_tit, .cart_tit, .order_tit, .seller_center_tit, .upload_tit {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-color);
}

.login_form, .sign_up_form {
    width: 550px;
    margin: 73px auto;
    padding: 0 35px;
}

.login_type, .sign_up_type {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: var(--main-color);
    gap: 186px;
}

.login_buyer, .login_seller, .sign_up_buyer, .sign_up_seller {
    padding-bottom: 17px;
    cursor: pointer;
}

.active {
    font-weight: 800;
    color: var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    cursor: default;
}

.input_li {
    text-align: left;
}

.login {
    margin: 40px 0;
}

.input_li input {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.login_input {
    padding: 20px 0;
}

.login_input:last-child {
    margin-top: 6px;
}

.sign_up_input {
    padding: 18px 0;
    margin-top: 10px;
}

.account_input_fieldset {
    margin-top: 69px;
}

.account_input , .user_input, .seller_input {
    margin-top: 16px;
}

.account_input:nth-child(2) {
    position: relative;
}

.account_input input {
    margin-top: 10px;
}

.account_label, .user_label, .seller_label {
    color: var(--sub-txt-color);
}

.id_input_btn_container, .seller_input_btn_container {
    display: inline-block;
}

.status_msg {
    margin-top: 10px;
    font-size: 12px;
}

.err {
    color: #EB5757;
}

.pass {
    color: var(--main-color);
}

#account_id {
    width: 346px;
    margin-right: 11px;
}

.check_icon {
    position: absolute;
    top: 40px;
    right: 15px;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
}

.pw_off{
    background-image: url(../assets/icon-check-off.svg);
}

.pw_on {
    background-image: url(../assets/icon-check-on.svg);
}

.account_input:nth-child(3) {
    position: relative;
}

.double_check_icon {
    position: absolute;
    top: 40px;
    right: 15px;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
}

#crn {
    width: 346px;
    margin-right: 12px;
}

.small_btn {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 60px;
    background-color: var(--main-color);
}

.check_id_btn {
    padding: 17px 32px;
    cursor: pointer;
}

.check_crn_btn {
    padding: 17px 46px;
    cursor: pointer;
}

.seller_input_fieldset {
    display: none;
}

.seller_active {
    display: block;
}

.big_btn {
    background-color: var(--border-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 200px;
}

.login_btn {
    padding: 19px 215px;
}

.sign_up_btn {
    padding: 19px 206px;
}

.on {
    background-color: var(--main-color);
    cursor: pointer;
}

.link_container {
    text-align: center;
    margin-top: 40px;
    color: var(--txt-color);
}

.sign_up_link, .find_pw_link {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: var(--sub-txt-color);
}

.sign_up_link {
    margin-right: 14px;
}

.find_pw_link::before {
    display: block;
    float: left;
    width: 1px;
    height: 14px;
    margin-right: 15px;
    left: 0;
    background-color: var(--sub-txt-color);
    content: '';
    cursor: default;
}

.form_check_container {
    display: flex;
    margin: 70px 0 36px;
}

.form_check_container input[type="checkbox"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.agreement {
    color: var(--sub-txt-color);
    cursor: pointer;
}

.agreement_txt {
    font-weight: 800;
    border-bottom: 1px solid var(--sub-txt-color);
}

.agreement a {
    display: inline-block;
}

.form_check_container input[type="checkbox"] + label::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: bottom;
    background-image: url(../assets/check-box-empty.svg);
    background-size: 16px 16px;
}

.form_check_container input[type="checkbox"]:checked + label::before {
    background-image: url(../assets/check-box-Fill.svg);
}

.main_footer {
    padding: 54px 0;
    background-color: #F2F2F2;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}

.footer_link_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--border-color);
}

.footer_link_li, .footer_icon_li {
    display: inline;
}

.footer_link, .footer_link a {
    display: inline;
}

.footer_link:nth-child(-n+4) {
    margin-right: 14px;
}

.footer_link:nth-child(5) {
    margin-right: 15px;
}

.footer_link:nth-child(n+2)::before {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin-right: 14px;
    left: 0;
    vertical-align: bottom;
    background-color: var(--sub-txt-color);
    content: '';
    cursor: default;
}

.footer_icon_li {
    display: flex;
    gap: 14px;
}

.footer_icon_li li a {
    width: 32px;
    height: 32px;
}

.instagram {
    background-image: url(../assets/icon-insta.svg);
}

.facebook {
    background-image: url(../assets/icon-fb.svg);
}

.youtube {
    background-image: url(../assets/icon-yt.svg);
}

.footer_info_container {
    margin: 30px 0 9px;
}

.footer_corp_info {
    display: inline-block;
    text-align: left;
    color: var(--sub-txt-color);
    line-height: 24px;
}

.footer_corp_info dt {
    font-weight: 700;
}

.footer_corp_info dd:nth-child(n+3):nth-child(-n+4) {
    display: inline;
}

.footer_corp_info dd:nth-child(3) {
    margin-right: 6px;
}

.footer_corp_info dd:nth-child(4)::before {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin-right: 6px;
    left: 0;
    vertical-align: middle;
    background-color: var(--sub-txt-color);
    content: '';
}

.product_detail_container {
    padding-top: 0;
}

.product_detail_card {
    padding: 80px 0;
    width: 100%;
    display: flex;
    gap: 50px;
}

.product_detail_img img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.product_detail_store, .product_detail_name {
    display: block;
}

.product_detail_store {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
    color: var(--sub-txt-color);
}

.product_detail_name {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
    color: var(--txt-color);
}

.price_detail_container {
    margin-bottom: 138px;
}

.product_detail_price {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: var(--txt-color);
}

.product_detail_price span{
    font-size: 18px;
    font-weight: 400;
}

.shipping_container {
    padding-bottom: 20px;
    color: var(--sub-txt-color);
    border-bottom: 2px solid var(--border-color);
}

.count_btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0;
    width: 150px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}

.m_btn, .p_btn {
    font-size: 36px;
    background-color: #FFF;
    color: var(--border-color);
    cursor: pointer;
}

.count {
    display: inline;
    padding: 14px;
    font-size: 18px;
    color: var(--txt-color);
    border-width: 0 1px 0;
    border-style: solid;
    border-color: var(--border-color);
    text-align: center;
}

.total_container {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    border-top: 2px solid var(--border-color);
    align-items: baseline;

}

.total_txt {
    font-size: 18px;
    font-weight: 500;
}

.total_count {
    margin-right: 11px;
    font-size: 18px;
    color: var(--sub-txt-color);
}

.total_count strong{
    font-weight: 700;
    color: var(--accent-color);
}

.total_price_container {
    display: inline;
    color: var(--accent-color);
}

.total_price_container::before {
    display: inline-block;
    margin-right: 11px;
    content: '|';
    color: var(--border-color);
}

.total_price {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    vertical-align: baseline;
}

.total_price_container span {
    margin-left: 2px;
    font-size: 18px;
}

.buy_btn {
    padding: 19px 141px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--main-color);
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.cart_btn {
    padding: 19px 60px;
    margin-left: 14px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--sub-txt-color);
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.product_tab_container {
    padding: 60px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.detail_tab_li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.detail_tab_btn {
    padding: 19px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--sub-txt-color);
    border-bottom: 6px solid var(--sub-border-color);
    cursor: pointer;
}

.tab_on {
    font-weight: 700;
    color: var(--main-color);
    border-bottom: 6px solid var(--main-color);
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.madal_container {
    position: relative;
    width: 360px;
    margin: 15% auto;
    padding: 50px 68px 40px;
    background-color: #fefefe;
    text-align: center;
    border: 1px solid var(--border-color);
}

.modal_txt {
    line-height: 20px;
}

.modal_btn_container {
    display: block;
    margin-top: 30px;
}

.modalCancelBtn {
    padding: 10px 27px;
    margin-right: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--sub-txt-color);
    font-weight: 500;
    cursor: pointer;
}

.modalOkBtn {
    padding: 10px 42px;
    border-radius: 5px;
    color: #FFF;
    background-color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
}

.small {
    padding: 10px 35px;
}

.modalDeleteBtn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 22px;
    height: 22px;
    background-image: url(../assets/icon-delete.svg);
    background-size: 22px 22px;
    cursor: pointer;
}

.cart_container, .order_container {
    max-width: 1200px;
    margin: 0 auto;
}

.cart_tit {
    margin-bottom: 52px;
}

.cart_list_tit {
    padding: 18px 30px 18px 10px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 18px;
    color: var(--emphasis-txt-color);
}

.cart_list_tit tr {
    display: grid;
    grid-template-columns: 1fr 9fr 5fr 4fr;
}

.cart_list_tit th:nth-child(2) {
    padding-left: 40px;
    text-align: left;
}

.cart_list_tit th:nth-child(3) {
    padding-right: 15px;
}

.cart_list_tit input[type="checkbox"], .cart_check {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.cart_list_tit input[type="checkbox"] + label::before, .cart_check + label::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background: url(../assets/check-box-empty.svg) no-repeat center;
    background-size: 20px 20px;
}

.cart_list_tit input[type="checkbox"]:checked + label::before, .cart_check:checked + label::before {
    background: url(../assets/check-box-Fill.svg) no-repeat center;
}

.cart_empty_strong {
    display: block;
    margin: 180px 0 18px;
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color);
}

.cart_empty_span {
    font-size: 14px;
    color: var(--sub-txt-color);
}

.shopping_link {
    display: inline;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--accent-color);
    text-decoration: underline;
}

.cart_item_container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 10fr 4fr 4fr;
    padding: 26px 30px;
    border-bottom: 1px solid var(--border-color);
}

.check_container {
    padding: 70px 40px 70px 0;
}

.cart_item_container td:nth-child(2) {
    display: flex;
}

.cart_item_container td:nth-child(3) {
    position: relative;
}

.cart_item_img img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 38px;
}

.cart_item_info_container  {
    text-align: left;
}

.cart_item_store {
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.cart_item_name {
    display: block;
    margin: 14px 0;
    font-size: 18px;
    line-height: 22px;
    color: var(--accent-color);
}

.cart_item_price_container {
    line-height: 20px;
    font-weight: 700;
    color: var(--accent-color);
}

.cart_shipping_container {
    margin-top: 54px;
    font-size: 14px;
    color: var(--sub-txt-color);
}

.count_select {
    display: flex;
    padding: 12px 0;
    width: 150px;
    font-size: 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.count_value {
    width: 100px;
    padding-left: 50px;
    font-size: 18px;
    color: var(--txt-color);
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

.down_icon {
    margin: 2px 0 0 20px ;
    width: 22px;
    height: 22px;
    background: url(../assets/icon-down-arrow.svg) no-repeat center;
    background-size: 22px 22px;
    cursor: pointer;
}

.count_select_box {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #FFF;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    top: 110px;
    left: 0;
    z-index: 9;
}

.open {
    display: block;
}

.count_select_li {
    padding: 10px 68px;
    cursor: pointer;
}

.count_select_li:hover {
    background-color: rgba(196, 196, 196, 0.5);
}

.cart_count {
    margin: 55px 0;
}

.cart_total_price_container {
    margin: 36px 0 26px;
    font-size: 18px;
    font-weight: 700;
    color: var(--accent-color);
}

.small_buy_btn {
    padding: 10px 35px;
    font-weight: 500;
    line-height: 20px;
    color: #FFF;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.cart_total_container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    padding: 35px 50px;
    margin-top: 95px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.cart_total_tit {
    font-weight: 700;
}

.cart_price_container {
    margin-top: 12px;
}

.cart_total_strong {
    margin-right: 2px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.cart_total_payment_strong {
    font-size: 36px;
    font-weight: 700;
    color: var(--accent-color);
}

.cart_total_span {
    margin-left: 2px;
    color: var(--accent-color);
}

.cart_total_icon {
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
}

.sum {
    background: url(../assets/plus-icon.svg) no-repeat center;
}

.equal {
    background: url(../assets/equal-icon.svg) no-repeat center;
}

.cart_delete_btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 22px;
    height: 22px;
    background-image: url(../assets/icon-delete.svg);
    background-size: 22px 22px;
    cursor: pointer;
}

.big_buy_btn {
    padding: 19px 66px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.order_container {
    text-align: left;
}

.order_tit {
    text-align: center;
}

.order_list {
    margin: 52px 0 98px;
}

.order_list_tit {
    padding: 18px 30px 18px 10px;
    margin-bottom: 16px;
    font-size: 18px;
    background-color: rgba(152, 185, 205, 0.5);
    border-radius: 10px;
}

.order_list_tit tr {
    display: grid;
    grid-template-columns: 7.5fr 5fr 3fr;
    text-align: center;
}

.order_item_container {
    display: grid;
    grid-template-columns: 9fr 5fr 4fr;
    align-items: center;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid var(--border-color);
}

.order_item_container td:first-child {
    display: flex;
}

.order_item_img img {
    width: 104px;
    height: 104px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 36px 0 8px;
}

.order_info_container {
    margin-top: 12px;
    text-align: left;
}

.order_item_store, .order_item_qty {
    font-size: 14px;
    color: var(--sub-txt-color);
}

.order_item_name {
    margin: 6px 0 10px;
    display: block;
    font-size: 18px;
    color: var(--txt-color);
}

.order_item_shipping {
    font-size: 18px;
    color: var(--sub-txt-color);
}

.order_item_price {
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color);
}

.order_item_total_price {
    margin-top: 30px;
    text-align: right;
}

.order_total_price_txt {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--txt-color);
}

.order_total_price {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #EB5757;
}

.order_form_tit {
    padding-bottom: 18px;
    font-size: 24px;
    font-weight: 500;
}

.border {
    border-bottom: 2px solid var(--border-color);
}

.user_info_form {
    margin: 40px 0;
}

.shipping_info_form {
    margin-bottom: 70px;
}

.user_info_tit, .shipping_info_tit {
    padding-bottom: 8px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid var(--border-color);
}

.order_input_container {
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
}

.address {
    display: flex;
}

.address_container {
    width: 60%;
}

#recipient_address_zip_code {
    width: 30%;
}

.search_zip_btn {
    padding: 10px 30px;
    margin-left: 10px;
    font-weight: 500;
    color: #FFF;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.address_input {
    width: 100%;
}

#recipient_address {
    display: block;
    margin: 8px 0;
}

#recipient_address, #recipient_address_detail {
    width: 100%;
}

#message {
    width: 60%;
}

.name_label {
    margin-right: 140px;
}

.order_info_label, .shipping_info_label {
    margin-right: 125px;
}

.address_label {
    margin-right: 106px;
}

.message_label {
    margin-right: 92px;
}

.order_input_container input {
    padding: 10px;
    width: 30%;
    border: 1px solid var(--border-color);
}

.total_payment_container {
    display: flex;
    justify-content: space-between;
}

.payment_fieldset {
    padding: 18px 30px 18px 12px;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.payment_fieldset input {
    margin-right: 10px;
}

.payment_fieldset label {
    margin-right: 20px;
}

.order_total_tit {
    font-size: 24px;
    font-weight: 500;
}

.order_total_info_container {
    margin-top: 18px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.payment_price_container {
    padding: 32px 30px 20px;
}

.order_price_container {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.order_total_price_strong {
    margin-right: 4px;
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color);
}

.payment_total_price {
    font-size: 24px;
    font-weight: 700;
    color: #EB5757;
}

.payment_price {
    padding-bottom: 18px;
    border-bottom: 1px solid var(--border-color);
}

.pay_agree_container {
    padding: 30px 30px 32px 30px;
    background-color: #F2F2F2;
    border-radius: 0 0 11px 11px;
    text-align: center;
}

.pay_agree_input_container {
    margin-bottom: 30px;
}

.pay_agree_input_container input[type="checkbox"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.pay_agree_input_container input[type="checkbox"] + label::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: bottom;
    background-image: url(../assets/check-box-empty.svg);
    background-size: 16px 16px;
    background-color: #FFF;
}

.pay_agree_input_container input[type="checkbox"]:checked + label::before {
    background-image: url(../assets/check-box-Fill.svg);
}

.big_order_btn {
    padding: 19px 66px;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    background-color: var(--border-color);
    border-radius: 5px;
}

.order_input_container:last-child {
    position: relative;
}

.address_message_select {
    display: none;
    position: absolute;
    left: 14%;
    top: 50px;
    background-color: #FFF;
    width: 60%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.select_open {
    display: block;
}

.address_message_select li {
    padding: 10px;
    cursor: pointer;
}

.address_message_select li:hover {
    background-color: rgba(196, 196, 196, 0.6);
}

.seller_center_top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_txt {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: var(--txt-color);
}

.item_upload_btn {
    display: flex;
    gap: 8px;
    padding: 15px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.item_upload_btn div {
    width: 32px;
    height: 32px;
    background-image: url(../assets/icon-plus.svg);
    background-size: 32px 32px;
}

.item_upload_btn span {
    color: #FFF;
    font-size: 18px;
}

.seller_item_list {
    margin-top: 38px;
}

.editor_main {
    display: flex;
    gap: 40px;
    text-align: left;
}

.upload_notice_tit {
    color: #EB5757;
    font-weight: 500;
}

.upload_notice_contents {
    padding: 20px;
    margin-top: 10px;
    width: 270px;
    font-size: 14px;
    line-height: 20px;
    background-color: #FFEFE8;
    color: var(--txt-color);
    border-radius: 5px;
    word-break: keep-all;
}

.upload_notice_contents li::before {
    content: '-';
    margin-right: 10px;
}

.upload_notice_contents li:nth-child(n+2) {
    margin-top: 20px;
}

.editor_main form label {
    color: var(--sub-txt-color);
}

.product_info_upload_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.img_upload_box {
    padding: 202px;
    margin-top: 10px;
    background-color: #F2F2F2;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.img_upload_box input {
    display: none;
}

.img_upload_btn {
    width: 50px;
    height: 50px;
    background-image: url(../assets/icon-img.svg);
    background-size: 50px 50px;
    cursor: pointer;
}

.upload_info_container input {
    padding: 15px 15px 15px 0;
    margin: 12px 0 18px;
    color: var(--txt-color);
    border-bottom: 1px solid var(--border-color);
}

#name_upload {
    display: block;
    width: 100%;
}

.shipping_upload_container {
    margin: 14px 0 20px;
}

.shipping_upload_container button{
    font-weight: 500;
    cursor: pointer;
}

.parcel_btn {
    padding: 17px 55px;
    margin-right: 10px;
    color: var(--sub-txt-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.delivery_btn {
    padding: 17px 40px;
    color: var(--sub-txt-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.selected {
    background-color: var(--main-color);
    color: var(--bg-color);
    border-style: none;
}

.product_detail_upload_container {
    margin-top: 40px;
}

#detail_upload {
    display: block;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--txt-color);
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

#detail_upload:focus {
    outline: none;
}

.upload_btn_container {
    margin-top: 50px;
    text-align: right;
}

.upload_cancel_btn {
    padding: 19px 82px;
    margin-right: 14px;
    font-weight: 700;
    font-size: 18px;
    color: var(--sub-txt-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.upload_save_btn {
    padding: 19px 66px;
    font-weight: 700;
    font-size: 18px;
    color: var(--bg-color);
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.seller_item_list_tit {
    padding: 18px 30px 18px 10px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 18px;
    color: var(--emphasis-txt-color);
}

.seller_item_list_tit tr {
    display: grid;
    grid-template-columns: 7fr 3fr 1fr 1fr;
}


.seller_item_container {
    position: relative;
    display: grid;
    grid-template-columns: 7fr 3fr 1fr 1fr;
    padding: 16px 30px;
    border-bottom: 1px solid var(--border-color);
}

.seller_item_info_container {
    display: flex;
    gap: 30px;
    text-align: left;
}

.seller_item_img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.seller_item_info strong{
    display: block;
    margin: 10px 0;
}

.seller_item_info span {
    color: var(--sub-txt-color);
}

.seller_item_price {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
}

.dashboard_btn {
    padding: 10px 25px;
    margin-top: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.modify {
    background-color: var(--main-color);
    color: #FFF;
}

.delete {
    border: 1px solid var(--border-color);
    color: var(--sub-txt-color);
}

.disabled {
    color: #FFF;
    background-color: var(--border-color);
    cursor: default;
}

.search_results_container {
    padding: 34px 0 24px;
    border-bottom: 2px solid var(--border-color);
}

.search_results_keyword {
    margin-right: 10px;
    font-size: 30px;
    font-weight: 700;
    color: var(--accent-color);
}

.search_results {
    margin-right: 10px;
    font-size: 24px;
}

.search_results_count {
    font-size: 24px;
    color: var(--accent-color);
}

.search_result_empty {
    display: block;
    margin-top: 80px;
    text-align: center;
    font-size: 18px;
    color: var(--sub-txt-color);
}